In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("D:\corona\House_Price.csv")
df.head()

,price,crime_rate,resid_area,air_qual,room_num,age,dist1,dist2,dist3,dist4,teachers,poor_prop,airport,n_hos_beds,n_hot_rooms,waterbody,rainfall,bus_ter,parks
0,24.0,0.00632,32.31,0.538,6.575,65.2,4.35,3.81,4.18,4.01,24.7,4.98,YES,5.480,11.1920,River,23,YES,0.049347
1,21.6,0.02731,37.07,0.469,6.421,78.9,4.99,4.70,5.12,5.06,22.2,9.14,NO,7.332,12.1728,Lake,42,YES,0.046146
2,34.7,0.02729,37.07,0.469,7.185,61.1,5.03,4.86,5.01,4.97,22.2,4.03,NO,7.394,101.1200,None,38,YES,0.045764
3,33.4,0.03237,32.18,0.458,6.998,45.8,6.21,5.93,6.16,5.96,21.3,2.94,YES,9.268,11.2672,Lake,45,YES,0.047151
4,36.2,0.06905,32.18,0.458,7.147,54.2,6.16,5.86,6.37,5.86,21.3,5.33,NO,8.824,11.2896,Lake,55,YES,0.039474

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   price        506 non-null    float64
 1   crime_rate   506 non-null    float64
 2   resid_area   506 non-null    float64
 3   air_qual     506 non-null    float64
 4   room_num     506 non-null    float64
 5   age          506 non-null    float64
 6   dist1        506 non-null    float64
 7   dist2        506 non-null    float64
 8   dist3        506 non-null    float64
 9   dist4        506 non-null    float64
 10  teachers     506 non-null    float64
 11  poor_prop    506 non-null    float64
 12  airport      506 non-null    object
 13  n_hos_beds   498 non-null    float64
 14  n_hot_rooms  506 non-null    float64
 15  waterbody    506 non-null    object
 16  rainfall     506 non-null    int64
 17  bus_ter      506 non-null    object
 18  parks        506 non-null    float64
dtypes: float64(15), int64(1), object(3)
memory usage: 75.2+ KB

In [4]:
df.isnull().sum()

price          0
crime_rate     0
resid_area     0
air_qual       0
room_num       0
age            0
dist1          0
dist2          0
dist3          0
dist4          0
teachers       0
poor_prop      0
airport        0
n_hos_beds     8
n_hot_rooms    0
waterbody      0
rainfall       0
bus_ter        0
parks          0
dtype: int64

In [5]:
df.fillna(value=df.mean(),inplace = True)

In [6]:
df.isnull().sum()

price          0
crime_rate     0
resid_area     0
air_qual       0
room_num       0
age            0
dist1          0
dist2          0
dist3          0
dist4          0
teachers       0
poor_prop      0
airport        0
n_hos_beds     0
n_hot_rooms    0
waterbody      0
rainfall       0
bus_ter        0
parks          0
dtype: int64

In [7]:
data = pd.get_dummies(df, columns=['airport','waterbody','bus_ter'],drop_first=True)
data.shape

(506, 20)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   price                     506 non-null    float64
 1   crime_rate                506 non-null    float64
 2   resid_area                506 non-null    float64
 3   air_qual                  506 non-null    float64
 4   room_num                  506 non-null    float64
 5   age                       506 non-null    float64
 6   dist1                     506 non-null    float64
 7   dist2                     506 non-null    float64
 8   dist3                     506 non-null    float64
 9   dist4                     506 non-null    float64
 10  teachers                  506 non-null    float64
 11  poor_prop                 506 non-null    float64
 12  n_hos_beds                506 non-null    float64
 13  n_hot_rooms               506 non-null    float64
 14  rainfall                  506 non-null    int64
 15  parks                     506 non-null    float64
 16  airport_YES               506 non-null    uint8
 17  waterbody_Lake and River  506 non-null    uint8
 18  waterbody_None            506 non-null    uint8
 19  waterbody_River           506 non-null    uint8
dtypes: float64(15), int64(1), uint8(4)
memory usage: 65.4 KB

In [9]:
X = data.drop('price',axis=1)
y = data['price']

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [11]:
print("Shape of X_train", X_train.shape)
print("Shape of X_test", X_test.shape)
print("Shape of y_train", y_train.shape)
print("Shape of y_test", y_test.shape)

Shape of X_train (404, 19)
Shape of X_test (102, 19)
Shape of y_train (404,)
Shape of y_test (102,)

In [12]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit_transform(X_train, y_train)

array([[ 1.28770177,  1.03323679,  0.48925206, ..., -0.3927922 ,
        -0.66547513, -0.74420841],
       [-0.33638447, -0.41315956, -0.15723342, ..., -0.3927922 ,
        -0.66547513,  1.34370962],
       [-0.40325332, -0.71521823, -1.00872286, ..., -0.3927922 ,
         1.50268577, -0.74420841],
       ...,
       [-0.40547014, -1.30336132, -1.03339138, ..., -0.3927922 ,
         1.50268577, -0.74420841],
       [ 0.85189733,  1.03323679,  1.56105695, ...,  2.54587539,
        -0.66547513, -0.74420841],
       [-0.38135592, -0.35216694, -0.31034841, ...,  2.54587539,
        -0.66547513, -0.74420841]])

In [13]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures

poly = PolynomialFeatures(degree=2)
poly.fit(X_train)

X_train_poly = poly.transform(X_train)
X_test_poly = poly.transform(X_test)

In [14]:
X_train_poly.shape

(404, 210)

In [15]:
X_test_poly.shape

(102, 210)

In [16]:
linear_reg = LinearRegression()
linear_reg.fit(X_train_poly, y_train)

LinearRegression()

In [17]:
linear_reg.score(X_test_poly,y_test,)

-3.536890052673818